---
import Layout from '../layouts/Layout.astro';
import HeaderNonSticky from '../components/home/HeaderNonSticky.astro';
import SocialFooter from '../components/home/SocialFooter.astro';
import ChatWrapper from '../components/ChatWrapper.astro';
import HeroHome from '../components/home/HeroHome.astro';
import AboutSection from '../components/home/AboutSection.astro';
import ProjectCategories from '../components/home/ProjectCategories.astro';
---

<Layout title="Haus Panama - Propiedades exclusivas en la ciudad de Panamá" fixedHeader={false}>
  <HeaderNonSticky />
  
  <!-- Pipedrive LeadBooster Chat -->
  <ChatWrapper />
  
  <main class="font-helvetica w-full bg-white">
    <HeroHome />
    <AboutSection />
    <ProjectCategories />
    <SocialFooter />
  </main>
</Layout>
